<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Invoicing{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<nav class="nav">
    <div class="nav-left">
        <span class="nav-item">
            <strong>Symfony Invoicing</strong>
        </span>
        <a class="nav-item" href="{{ path('dashboard') }}">
            Faktury
        </a>
        <a class="nav-item" href="{{ path('clients') }}">
            Klienti
        </a>
    </div>

    <div class="nav-center"></div>

    <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

    <div class="nav-right nav-menu"></div>
</nav>

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.2/vue.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
